nav .container {
    font-size: .75rem;
}

.hero input {
    width: 300px;
    padding: 10px 22px;
    border-radius: 60px;
    border: 2px solid #e9e9e9;
    font-size: 1rem;
    margin: 25px 0;
}

.instruction-column {
    margin: 50px 10px;
    padding: 5px;
    width: 300px;
}

.how-it-works {
    font-size: .75rem;
    text-align: center;
    width: 300px;
}

.recipe-details .details .details-bottom .links {
    padding-right: 5px;
    font-size: .7rem;
}

.recipe-details .label {
    padding: 10px;
    font-size: .8rem;
}

.recipe-card img {
    width: 80px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.recipe-details .details .details-bottom .links a:last-of-type {
    display: none;
}

.badge {
    font-size: .4rem;
}

.recipe-card {
    height: 100px;
}