@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
    border-bottom: 3px solid #7DD060;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 238, 238);
}

.app-container{
    margin: auto;
    max-width: 2560px;
}

/* Navbar */
nav {
    position: fixed;
    width: 100vw;
    max-width: 2560px;
    background-color: white;
    padding: .9rem 1rem;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.41);
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    max-width: 1400px;
    margin: auto;
}

nav .nav-logo a {
    text-decoration: none;
    font-weight: 700;
}

nav .nav-links a {
    text-decoration: none;
    font-weight: 600;
}

nav .nav-links a:hover {
    color: #575757;
    border-bottom: 3px solid #7DD060;
}

/* Hero Landing */
.hero {
    background: url('/static/images/landing_page_herov2.png') no-repeat center center/cover;
    height: 100vh;
    /* max-height: 1440px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    text-shadow: 2px 2px 8px #3a3a3a;
    text-align: center;
}

.hero input {
    width: 600px;
    padding: 10px 22px;
    border-radius: 60px;
    border: 2px solid #e9e9e9;
    font-size: 1.3rem;
    margin: 25px 0;
}

.hero input:focus {
    outline: none;
    border: 3px solid #7DD060;
}

.hero .input-container {
    position: relative;
}

.hero .input-container #input-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* About Area */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works {
    max-width: 1400px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works p {
    width: 50%;
    text-align: center;
}

.instructions {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.instructions .heading {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.instruction-column {
    position: relative;
    width: 500px;
    margin: 0 10px;
    padding: 0 20px;
}

.instruction-column p{
    min-height: 100px;
}

.instruction-column:not(:last-child) {
    border-right: 1px solid #bbbbbb;
}

.instruction-step {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 1.75rem;
    font-weight: 600;
    background-color: #7DD060;
    border-radius: 50%;
    margin-right: 10px;
}

.instruction-column .content {
    margin-bottom: 50px;
}

.instruction-column img {
    width: 100%;
}

#about .btn {
    margin: 150px 0;
}

/* Search Results Page */
.search-results {
    padding-top: 50px;
}

.search-results .container {
    padding-top: 50px;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding: 50px 100px;
    background-color: rgb(245, 245, 245);
}

/* Expanding container for smaller resolutions */
@media screen and (max-width: 1775px) {
    .search-results .container {
        width: 90%;
    }
}

.search-results .recipes-container {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
