.break {
    background-color: #7DD060;
    height: 5px;
    width: 35%;
    margin: 5px 0 20px 0;
}

/* Text */
.text-primary {
    color: #353535;
}

.text-secondary {
    color: #777777;
}

.text-light {
    color: #F9F9F9;
}

.text-accent {
    color: #7DD060;
}

.text-danger {
    color: rgb(182, 71, 51)
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;
}

.lead {
    font-size: 1.5rem;
}

.header {
    font-weight: 600;
    font-size: 3.5rem;
}

.header-small {
    font-weight: 600;
    font-size: 2.5rem;
}

/* Font Weight */
.f-400 {
    font-weight: 400;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.link-tag.bold {
    font-weight: 700;
}


/* Links */
.link-tag {
    text-decoration: none;
    font-weight: 600;
}

.link-tag:hover {
    color: #575757;
    border-bottom: 2px solid #7DD060;
}

/* Badges */
.badge {
    background-color: #7DD060;
    color: #fff;
    border-radius: 35px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
}

.badge-danger {
    background-color: rgb(182, 71, 51);
}

/* Buttons */

.btn {
    font-family: 'Poppins', sans-serif;
    background-color: #7DD060;
    color: #fff;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(105%);
}

/* Recipe Card */
.recipes-container {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-card {
    height: 140px;
    width: 48%;
    margin: 10px 0px;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: 5px 4px 23px 0px rgba(0,0,0,0.15); 
    /* transition: box-shadow .5s; */
    transition: box-shadow .5s ease;
    box-shadow: 5px 4px 23px 0px rgba(0,0,0,0.15);
}

.recipe-card:hover {
    box-shadow: 5px 4px 23px 0px rgba(0,0,0,0.35);
}

.recipe-card img {
    height: 140px;
    width: 140px;
    border-radius: 10px 0px 0px 10px;
}

.recipe-details {
    width: 100%;
}

.recipe-details .label {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background: #fff;
    /* border-radius: 0 5px 0 0; */
}

/* Hide calories on sub 350px */
@media screen and (max-width: 350px) {
    .recipe-details .label span:last-of-type {
        display: none;
    }
}

.recipe-details .details {
    height: 75%;
    padding: 10px;
    padding-left: 15px;
    background-color: #f1f1f1;
    border-radius: 0px 0px 25px 0px;
    display: flex;
    flex-direction: column;
}

.recipe-details .details .details-top {
    height: 50%;
}

.recipe-details .details .details-bottom {
    height: 50%;
    display: flex;
    font-size: 1.2rem;
    align-items: flex-end;
    padding-bottom: 10px;
}

.recipe-details .details .details-bottom .health-labels {
    width: 40%;
    overflow: hidden;
}

.recipe-details .details .details-bottom .links {
    width: 60%;
    padding-right: 10px;
    text-align: right;
}

/* Recipe Card Stacking Behavior */
@media screen and (max-width: 1550px) {
    .recipe-card {
        width: 100%;
    }
}

/* Debug Tools */
.dev-outline {
    border: 2px solid black;
}

