{% extends 'base.html' %}

{% block content %}

    <!-- Landing Area -->
    <section id="landing">
        <div class="hero">
            <h1 class="header text-light">Your online cookbook!</h1>
            <div class="input-container">
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="What's on the menu today?">
                    <i id="input-arrow" class="fas fa-arrow-circle-right fa-2x text-secondary"></i>
                </form>
            </div>
        </div>
    </section>

    <!-- About Area -->
    <section id="about">
        <div class="how-it-works">
            <h1 class="header text-primary">How It Works</h1>
            <div class="break"> </div>
            <p class="lead">This application is designed to be a simple solution to finding and storing your favorite recipes</p>
        </div>
        <div class="instructions">
            <div class="instruction-column">
                <div class="heading text-primary">
                    <div class="instruction-step text-light">1</div>
                    <div class="header-small">Register</div>
                </div>
                <div class="content">
                    <p>Register to our website and create your own profile. From here you will be able to access your very own cookbook</p>
                </div>
                <img src="/static/images/column_register.png" alt="Register Instruction Image">
            </div>
            <div class="instruction-column">
                <div class="heading text-primary">
                    <div class="instruction-step text-light">2</div>
                    <div class="header-small">Discover</div>
                </div>
                <div class="content">
                    <p>Browse from our large collection of recipes and find what you want to bring to the table at the next family gathering!</p>
                </div>
                <img src="/static/images/column_discover.png" alt="Discover Instruction Image">
            </div>
            <div class="instruction-column">
                <div class="heading text-primary">
                    <div class="instruction-step text-light">3</div>
                    <div class="header-small">Save & Edit</div>
                </div>
                <div class="content">
                    <p>Once you found your favorites, save them to your own cookbook! Once they are saved to your cookbook you are free to modify them to your liking</p>
                </div>
                <img src="/static/images/column_save.png" alt="Save Instruction Image">
            </div>
        </div>
        <a href="/register" class="btn header-small text-light">Sign Me Up!</a>
    </section>
{% endblock %}