{% extends 'base.html' %}

{% block content %}
    <section class="cookbook-page">
        <div class="container">
            <h1 class="header text-primary"><i class="fas fa-book-open"></i> Sean's Recipes</h1>
            <p class="text-secondary subtitle">Registered 11/27/2020</p>

            <div class="recipes-container">
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recipe-card" data-id="test">
                    <img src="/static/images/chicken_thumb.jpg" alt="">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">Chicken Something</span>
                            <span class="text-primary">kcal 4000</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="test" class="link-tag text-primary bold">Source (<span class="text-accent">BigEats</span>)</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <a href="" class="badge badge-danger no-underline">Delete</a>
                                    
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='test' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <button class="btn f-600">+Create Recipe</button>

        </div>
    </section>
{% endblock %}