{% extends 'base.html' %}

{% block content %}
    <section class="cookbook-page">
        <div class="container">
            <h1 class="header text-primary"><i class="fas fa-book-open"></i> {{ g.user.username }}'s Recipes</h1>
            <p class="text-secondary subtitle">Registered 11/27/2020</p>

            <div class="recipes-container">
                {% for recipe in recipes %}
                <div class="recipe-card" data-id="test">
                    <img src="{{ recipe.recipe_image_url }}" alt="Recipe Image">
                    <div class="recipe-details">
                        <div class="label">
                            <span class="text-primary">{{ recipe.title|truncate(15, True) }}</span>
                            <span class="text-primary">kcal {{ recipe.calories|round|int }}</span>
                        </div>
                        <div class="details">
                            <div class="details-top text-primary">
                                <a href="{{ recipe.source_url }}" class="link-tag text-primary bold">Recipe Website</a>
                            </div>
                            <div class="details-bottom">
                                <div class="health-labels">
                                    <form action="/{{ g.user.username }}/cookbook/{{ recipe.title }}/delete" method="POST">
                                        <button class="badge badge-danger no-underline btn-link">Delete</button> 
                                    </form>
                                </div>
                                <div class="links">
                                    <a href="" class="link-tag text-primary">Edit Recipe</a>
                                    <span>|</span>
                                    <a href='/{{g.user.username}}/cookbook/{{ recipe.title }}' class="link-tag text-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>  

            <button class="btn btn-outline inline-block f-600">+Create Recipe</button>

        </div>
    </section>
{% endblock %}